<!DOCTYPE html>
<html lang="en">

   <body>

    {% extends "webpageTemplate.html"}

      <div class="jumbotron">
         <div class="container">
            <!--Paste your content here!-->
            <header>
               <h2 id="search"> Charity Legit Checker</h2>
               <div>
                  <form method='GET' action=''>
                     <input type='text' name='q' placeholder='Search posts' value ='{{ request.GET.q }}'/>
                     <input type='submit' value='Search'/>
                  </form>
               </div>
            </header>
            <br>
            <br>
            <div class="row" id="1">

               {% for po in post %}
               <div class="col-sm-7" id="blogpost" >
                  <div class="row" id="embed">
                    <div class="col-sm-4" id="img"></div>
                    <div class="col-sm-1" id="space"></div>
                    <div class="col-sm-7" id="Name"><h2 id="charName">{{po.title}}</h2>
                      <p> Rating: 5/5 </p>
                    </div>

                    <div class="col-sm-12" id="charDesc">
                        Description: {{po.text}}
                    </div><!-- end of charDesc -->
                    <div class="col-sm-12" id="space">
                    </div><!-- end of space -->
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="col-sm-12" id="space">
                                     Uploaded By: {{po.author}}
                    </div><!-- end of space -->

                  </div><!--end of row embed-->

            <br><br>
               {% endfor %}
             </div><!--end of sm7-->
            </div> <!--end of row 1-->

            <br>
            <div class="pagination">
               <span class="step-links">
               {% if post.has_previous %}
               <a href="?page={{ post.previous_page_number }}">previous</a>
               {% endif %}
               <span class="current">
               Page {{ post.number }} of {{ post.paginator.num_pages }}.
               </span>
               {% if post.has_next %}
               <a href="?page={{ post.next_page_number }}">next</a>
               {% endif %}
               </span>
            </div>
            <!--end of content-->
         </div>
      </div>

      <div class="container">
         <!-- Example row of columns -->
         {% load static %}
       <div class="row">
         <div class="col-md-4" align="center">
           <div class="img__wrap">
             <img src= {% static "img/find.jpg" %} height="200" width="200"/>
             <p class="img__description" align="center"><a class="linktext" href="/charity" role="button">Go to "Legit Not?"</a></p>
           </div>
         </div> <!--end of colmd4-->
         <div class="col-md-4" align="center">
           <div class="img__wrap">
             <img src= {% static "img/make.jpg" %} height="200" width="200"/>
             <p class="img__description" align="center"><a class="linktext" href="/pairing" role="button">Go to "Pair Up!"</a></p>
           </div>
        </div><!--end of colmd4-->
         <div class="col-md-4" align="center">
         <div class="img__wrap">
           <img src= {% static "img/track.jpg" %} height="200" width="200"/>
           <p class="img__description" align="center"><a class="linktext" href="/tracklah" role="button">Go to "Track Lah!"</a></p>
         </div>
         </div><!--end of colmd4-->
       
   </body>
</html>
