<!DOCTYPE html>
<html lang="en">
  {% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <link rel="stylesheet" href= {% static "css/bootstrap.min.css" %} >
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src= "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" href= {% static "css/hover.css" %} >
    <link rel="stylesheet" href= {% static "css/customTrack.css" %} >

    <!--
    <link rel="stylesheet" href={% static "css/bootstrap.css" %} >
  -->
    <title>HUH-Y</title>
    {% load static %}

</head>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="col-lg-1 col-md-1 col-sm-1"></div>
      <div class="navbar-header" >
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar">a</span>
          <span class="icon-bar">b</span>
          <span class="icon-bar">c</span>
        </button>

        <a class="navbar-brand " href="#"><img src= {% static "/img/LOGOHEAD.png" %} height=140px ></img></a>

      </div>

      <div class="col-lg-3 col-md-3 col-sm-3 pull-right">
      <div class="col-lg-3 col-sm-3 col-md-3"><a href="/charity"><img src= {% static "img/FINDACAUSE.png" %} height=60px width=60px align="left"></img></a></div>
      <div class="col-lg-3 col-sm-3 col-md-3"><a href="/pairing"><img src= {% static "img/MAKEANIMPACT.png" %} height=60px width=60px align="left"></img></a></div>
      <div class="col-lg-3 col-sm-3 col-md-3"><a href="/tracklah"><img src= {% static "img/TRACKURIMPACT.png" %} height=60px width=60px align="left" ></img></a></div>
      <div class="col-lg-3 col-sm-3 col-md-3"><a href="/userAcc"><img src= {% static "img/USER.png" %} height=60px width=60px align="left"></img></a></div>
    </div>
      <!--<div id="navbar" class="navbar-collapse collapse col-lg-1 col-sm-1 col-md-1">
        <form class="navbar-form navbar-right">
          <div class="form-group">
            <input type="text" placeholder="Username" class="form-control">
          </div>
          <div class="form-group">
            <input type="password" placeholder="Password" class="form-control">
          </div>
          <a href="/userAcc/login" class="btn btn-success" role="button"> Sign in </a>
          <a href="/userAcc/signup" class="btn btn-success" role="button"> Sign up </a>
        </form>
      </div>/.navbar-collapse -->
    </div>
  </nav>




    <br>
    <br>


    <div class="contents">
      <div class="container col-md-6 half" id="descripArea" style= "  overflow-x: hidden;">


        <!-- carousell -->

        <div class=  "container col-lg-12 col-md-12 col-sm-12" id="projImgSlider" >
         {% load staticfiles%}
         <link rel="stylesheet" href= {% static "css/customTrack.css" %} >


          {% if userInput is 0 %}
          <div class= "container", id='jsSlider' >
            <div class="mySlides">
             <img src= {% static "img/sliderIMG1.jpg" %} style="width:100%">
           </div>
           <div class="mySlides">
            <img src= {% static "img/sliderIMG2.jpg" %} style="width:100%">
          </div>
          <div class="mySlides">
           <img src= {% static "img/sliderIMG3.jpg" %} style="width:100%">
         </div>
         <div class="mySlides">
          <img src= {% static "img/sliderIMG4.jpg" %} style="width:100%">
        </div>
      </div>
      {% elif userInput is 2 %}
      <div class= "container", id='jsSlider' >
        <div class="mySlides">
         <img src= {% static "img/sliderIMG1.jpg" %} style="width:100%">
       </div>
       <div class="mySlides">
        <img src= {% static "img/sliderIMG2.jpg" %} style="width:100%">
      </div>
      <div class="mySlides">
       <img src= {% static "img/sliderIMG3.jpg" %} style="width:100%">
     </div>
     <div class="mySlides">
      <img src= {% static "img/sliderIMG4.jpg" %} style="width:100%">
    </div>
    </div>

        {% else %}
        <div class= "container" id='jsSlider' style="  height: 500px !important;
          overflow: hidden;
          width:100%;" >
            <div class="mySlides" id='img1'>
             <img src= {{ displayProj.img1.url }} style="width:100%">
           </div>
           <div class="mySlides" id='img1'>
            <img src= {{ displayProj.img2.url }} style="width:100%">
          </div>
          <div class="mySlides" id='img1'>
           <img src= {{ displayProj.img3.url }} style="width:100%">
         </div>
       </div>
         {% endif %}



        <button class="w3-button w3-display-left w3-black" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-display-right w3-black" onclick="plusDivs(1)">&#10095;</button>



           <script>
           var slideIndex = 1;
           showDivs(slideIndex);

           function plusDivs(n) {
             showDivs(slideIndex += n);
           }

           function showDivs(n) {
             var i;
             var x = document.getElementsByClassName("mySlides");
             if (n > x.length) {slideIndex = 1}
             if (n < 1) {slideIndex = x.length}
             for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
             }
             x[slideIndex-1].style.display = "block";
           }
           </script>


         <br>


         <div id="infoAreaSearchBar" class= 'container' style= " width: 80%">
            <form method='get'>
                 <div class="input-group col-md-12">
                     <input type="text" name= 'q' class="form-control input-lg" placeholder="Donation code here" value='{{ request.GET.q }}' />
                     <span class="input-group-btn">
                         <button class="btn btn-info btn-lg" type="submit">
                             <i class="glyphicon glyphicon-search"></i>
                         </button>
                     </span>
                 </div>
               </form>
             </div>
             <br>

        {% if userInput is 0 %}
          <div class= 'container' style= " width: 80%" >
          <h1> Welcome to HUH-y </h1>
          <p>Enter your Donation Code above to begin =) </p>
        </div>
        {% endif%}

        {% if userInput is 1 %}
          <div class= 'container' style= " width: 80%" >
         <h1> {{displayProj.projectNameSub}} </h1>
         <h4> <i> by {{displayProj.charityName}} </i></h4>
         <br>

         <p> {{displayProj.country}} , {{displayProj.city}} </p>
         <p>Latitude : {{displayProj.lat}} Longitude : {{displayProj.lng}} </p>
         <br>
         <p> {{displayProj.shortWriteup | linebreaks }}</p>

      <br>
      <br>

      <object style="height: 390px; width: 80%">
        <iframe width="680" height="480px" src="{{displayProj.videoLink}}" frameborder="0" allowfullscreen></iframe>
      </object>
      <br><br><br>

     </div>
        {% endif%}

        {% if userInput is 2 %}
          <div class= 'container' style= " width: 80%" >
         <h1> Invalid Donation Code </h1>
         <h4> <i> by HUH-Y admin</i></h4>
         <br>
         <p> We are sorry to inform that the Donation code that you have entered wrong or does not exist.
          <br> <br>For further assistance, please contact us at orbital1417@gmail.com <p>
          </div>
        {% endif%}


       </div>




     </div>


      <div class="container col-md-6 half" id= "mapContainer">
      <div id='map' >
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdXna1Tt7tk8qHzjeadSqpeGp2J7Ci0TI&callback=initMap">
      </script>
        <script type="text/javascript" src="/static/js/googlemap.js"></script>
        <script type="text/javascript">
            var charityProjSubAllData = {{charityProjSubAllData_list| safe}}
            var queryMarkerSubData= {{queryMarkerSubData|safe}}
            var userInput= {{userInput|escapejs}}
            /*
            console.log(queryMarkerSubData);
            console.log(charityProjSubAllData);
            */
            /*console.log(typeof(charityProjSubAllData));
            console.log(queryMarkerSubData);
            console.log(charityProjSubAllData[0].fields.projectNameSub);
            */
        </script>
          </div>
        </div>

    </div>



</body>

<script src= {% static "js/jquery-3.2.1.min.js"%}></script>


</html>
