 div#left.container.col-sm-4 {
  font-weight: normal;
  padding-left: 50px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

div.container.col-sm-2 {
  align-items: center;
}


div.container.col-sm-6 {
/* border-style: solid;
 border-width: 5px;*/

 display: inline-block;
}


div.container.col-sm-7 {
/* border-style: solid;
 border-width: 5px;*/

 display: inline-block;
}
div#left.container.col-sm-4 {
 border-style: solid;
 border-width: 5px;
 padding: 0px 50px 10px 50px;
 display: inline-block;
 width: 500px;
 height: 500px;
}


div#hug.container {
}

#track {
  font-weight: bold;
  font-family: "Impact", Charcoal, sans-serif;
}
header.search {

}

#head1 {
  font-family: "Impact", Charcoal, sans-serif;
}
/* Images */

img.img-responsive {
  width:auto;
  height:240px;


}

/* fonts and paragraph */

#title {
  font-weight: bold;
  font-style: italic;
}
#desc {
  font-size: 16px;
  font-weight: bold;
}

.error {
  font-size: 16px;
  font-style: italic;
  color: #FF0000;
}
#descripArea{
  overflow-x: hidden;
}

.fill {
    min-height: 100%;
    height: 100%;
}

#mapContainer{


}
#map {
    height: 100%;
    width: 100%;

}
html,body {
  padding:0;
  margin:0;
  height:100%;
  min-height:100%;
}

.half{
  width:50%;
  height:100%;
  float:left;
  padding: 0px;
}
.contents{
  height:100%;
  width:100%;
}

.carousel {
    max-width: 100%;
    max-height: 80%;
    height: 80%;
    overflow: hidden;
    width: 100%;

}
.carousel-inner> .item img{
  display: block;
  max-width: 100%;
  width: 100%;
  height: 50%;

}


.container{
  padding: 0px;

}

#projImgSlider {
  height:100%;
  padding:0px;
  overflow-y: auto;

}

#myCarousel{
  height:500px;
}

#jsSlider{
  height: 500px !important;
  overflow: hidden;
  width:100%;

}
