div#img {
  border-radius: 290px;
  width: 290px;
  height: 290px;

}
img#img {
  background-color: #fff;
  border-style: solid;
  border-width: 5px;
  border-radius: 300px;
  width: 300px;
  height: 300px;
}

div#rightside {

}
div#charDesc {
  padding-top:25px;
}

div#Name {
  font-weight: bold;
  font-style: italic;
  font-family: "Impact", Charcoal, sans-serif;
  width: 520px;
  height: 150px;
  text-align: center;
  padding-top: 25px;
}

h2#search {
  font-weight: bold;
  font-style: italic;
  font-family: "Impact", Charcoal, sans-serif;

}

div#space {

}


h2#mv {
  color: #f08080;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: bold;
}

div#Stamp {
  padding-top: 20px;


}

div#error {
  padding-left: 100px;

}

div#hme {
  padding-bottom: 200px;
  padding-left: 200px;

}
