/* Move down content because we have a fixed navbar that is 50px tall */
footerDetails{
  height:100px;

}
#sendFeedback {
  color: #FFFFFF;
}
#contactUs{
  color: #FFFFFF;
  background-color: black;
}
#logoContainer{
  color:#FFFFFF ;
  background-color: black;
}
#underWritings{
  color: #FFFFFF;
  text-decoration-color: white;
  background-color: black;
}


.container {
  padding:0px;

}

#sliderContainer{
  height:600px;
  width:100%;
}
.fadein { position:relative; height:600px; width:auto; overflow:hidden; }
.fadein p { position:absolute; left:0; top:0; }
