div#entry {
  border-style: solid;
  border-radius: 10px;
  border-width: 3px;
  padding-left: 20px;
  display: inline;
  background-color: #fff;
  padding-bottom: 50px;
  width: 360px;
  height: 300px;
}

img#fullscreen {
  padding-top: 10px;
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  width:180px;
  height: 180px;
}
