<html>
<div class="container-fluid" id="footerDetails">

    <div class="row">

        <div class="big-box col-md-4 col-xs-12" id="logoContainer">insert HUH-y logo</div>

        <div class="col-xs-8">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="mini-box text-align" id="contactUs">
                        <h4> Contact us </h4>
                        <p> orbital1417@gmail.com
                            <br> National University of Singapore
                            <br> Computing drive
                            <br>
                        </p>
                    </div>
                </div>

                <div class="mini-box col-md-6 col-xs-12" id="sendFeedback">

                    <h4>Connect With us Via social Network</h4>
                    <p> insert FB IG and tw logo with hlinks </p>
                </div>

            </div>
        </div>
    </div>

</div>

<div class="container-fluid col-md-12 col-sx-12" id="underWritings">

    <p>&copy; 2016 Company, Inc.
        <br>All rights reserved </p>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>


</html>
