<!DOCTYPE>
<html>
<head>
<meta charset="utf-8">

  <title>CharityPairing</title>
</head>

<body>
    <header>
      <h1>Pairing You up with Charity Organizations!</h1>
    </header>

    <main>

      <article>
      <div>
        <h2>EusoffExpeds16/17</h2>
        <p> this year we have ........</p>
      </div>
      <div>
          <h2>ShearesHall16/17</h2>
          <p> this year we have ........</p>
      </div>
      </article>

    </main>

    <footer>
      <p> ©Copyright 2017 by HUH-Y. All rights reversed </p>
    </footer>
  </body>


</html>
