<div class="container">
  <form id="contact" action="" method="post">
    <h3>Pairing Sign Up Form</h3>
    <h4>Fill in your personal particulars</h4>
    <fieldset>
      <input placeholder="Your name" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Your Phone Number" type="tel" tabindex="2" required>
    </fieldset>
      <textarea placeholder="Enter your relevant experience" tabindex="3" required></textarea>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>

  </form>
</div>
